body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;

  }
.header {
  height: 3.5rem;
  background-color: #ffff;
}

.nav-link:hover{
  color: #09a4e8;
}

.container-fluid {
  padding-top: 0.5rem;
}

/* Hero section */
.services-section{
  color: #09a4e8;
}
.digi-services{
  justify-content: center;
  border: 2px solid #09a4e8;
  
}
.services-color{
  background-color: #f6f7f9
}

/* carosuel */
.carosuelcentre{
  margin: auto;
  padding: 10px;
  border: 2px solid #f6f7f9;
}
.carosuelcolor{
  background-color: #f6f7f9;
}



/* overview section */
.overviewheading{
  color: #09a4e8;
}
.overviewimages{
  border-radius: 500px;
}


/* services section */
.services-section{
  color: #09a4e8;
}

.services-color{
  background-color: #f6f7f9;
}

.cardcenter{
    margin: auto;
    width: 80%;
    padding: 10px;
}

.Overview {
  border-radius: 20rem;
}

.btn-color {
  color: #09a4e8;
  border-color: #09a4e8;
  border-radius: 8rem;
  
}
.btn-color:hover{
  background-color: #6c757d;
  color: white;

}
.btn-color a:hover{
  background-color: #6c757d;
  color: white;

}

.centerdropdown{
  margin: auto;
  width: 90%;
}



/* Partners section */
.our-partners-font-colors{
  color: #09a4e8;
}
.partners{
  background-color: #f6f7f9;
}
 .partners-img{
  
  padding: 0 2rem;
  margin-bottom: 4rem;
} 


/* footer */
footer {
       
    margin-top: 2rem;
    
  }

  .row{
     justify-content: space-between;
  }
  
  footer h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.4rem;
  }
  
  footer li {
    margin-bottom: 10px;
  }
  
  footer a {
    color: #333;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #666;
  }
  
  footer p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  footer .footer-container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .social-icons{
    display: flex;
    gap: 1.5rem;
  }
  
  @media (min-width: 768px) {
    footer .col-sm-6 {
      width: 50%;
      float: left;
    }
  }
  
  @media (min-width: 992px) {
    footer .col-md-3 {
      width: 25%;
      float: left;
    }
  }

  /* dropdown */
  .container {
    margin: auto;
    max-width: 120%;
    padding-left: 170px; 
    padding-right: 500px;
  }

  .container ul{
    margin-top: 20px;
    margin-bottom: 20px;
    
  }

  .container ul li{
    list-style: none;
  }

  .container ul h2{
    color: black;
    font-size: large;
    font-weight: bolder;
  }

  .container ul li a{
    text-decoration: none;
    color: #6c757d;
  }


  
  

 

 

